body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-image: url('фон.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.content {
    padding: 40px;
    text-align: center;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.service-card h4 {
    margin-top: 0;
    font-weight: 700;
}

.service-card p {
    margin: 10px 0 0;
}

.table-container {
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;
    width: 100%;
}

.tariff-table {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.tariff-table thead {
    display: contents;
}

.tariff-table th {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: left;
}

.tariff-table tbody {
    display: contents;
}

.tariff-table tr {
    display: contents;
}

.tariff-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.tariff-table tr:nth-child(even) td {
    background-color: #eef;
}

.tariff-table tr:nth-child(odd) td {
    background-color: #fff;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer address {
    margin-top: 5px;
    font-style: normal;
    color: #dcdcdc;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    th, td {
        padding: 10px;
        font-size: 0.9em;
    }

    .table-container {
        width: 100%;
    }

    .service-card {
        width: 80%;
    }
}
